@model StoreApp.Models.Brands.BrandViewModel

@{
    ViewBag.Title = "Details brand";
}

<h3>Details @Model.Name</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditBrand", new { id = Model.Id }) |
    @Html.ActionLink("Back to brands", "Index")
</p>
