@model IEnumerable<StoreApp.Models.Store.ProductViewModel>

@{
    ViewBag.Title = "Index";
    string role = Session["Role"] as String;
}

@if (TempData["Message"] != null)
{
    <span class="badge badge-@TempData["StatusMessage"]">@TempData["Message"]</span>
}

@if (role != null && role.Equals("admin"))
{
    <div class="ol-md-2 offset-2 mb-1">
        @Html.ActionLink("New product", "CreateProduct", "Store", null, new { @class = "btn btn-success" })
    </div>
}
<br />
<div class="row">
    <div class="col-md-2">
        @Html.Action("FilterMenuPartial", "Store")
    </div>
    <div class="col-md-10">
        <div class="row font-weight-bold">
            <div class="col-1">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="col-1">
                @Html.DisplayNameFor(model => model.Price)
            </div>
            <div class="col-1">
                @Html.DisplayNameFor(model => model.Quantity)
            </div>
            <div class="col-1">
                @Html.DisplayNameFor(model => model.Unit)
            </div>
            <div class="col-1">
                @Html.DisplayNameFor(model => model.Picture)
            </div>
            <div class="col-1">
                @Html.DisplayNameFor(model => model.Quality)
            </div>
            <div class="col-1">
                @Html.DisplayNameFor(model => model.Enable)
            </div>
            <div class="col-1">
                @Html.DisplayNameFor(model => model.Category)
            </div>
            <div class="col-1">
                @Html.DisplayNameFor(model => model.Brand)
            </div>
            <div class="col-1">
                @Html.DisplayNameFor(model => model.Producer)
            </div>
            <div class="col-2">

            </div>
        </div>
        <hr />
        @foreach (var item in Model)
        {

            <div class="row text-center justify-content-center ">
                <div class="col-1">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="col-1">
                    @Html.DisplayFor(modelItem => item.Price)
                </div>
                <div class="col-1">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </div>
                <div class="col-1">
                    @Html.DisplayFor(modelItem => item.Unit)
                </div>
                <div class="col-1">
                    <a href="/Store/DetailsProduct/@item.Id">
                        @if (item.Picture == null)
                        {
                            <img src="~/Pictures/preview_no_image.png" />
                        }
                        else
                        {
                            <img src="/Pictures/Products/@item.Id/preview_@item.Picture" />
                        }
                    </a>
                </div>
                <div class="col-1">
                    @Html.DisplayFor(modelItem => item.Quality)
                </div>
                <div class="col-1">
                    @Html.DisplayFor(modelItem => item.Enable)
                </div>
                <div class="col-1">
                    @Html.DisplayFor(modelItem => item.Category)
                </div>
                <div class="col-1">
                    @Html.DisplayFor(modelItem => item.Brand)
                </div>
                <div class="col-1">
                    @Html.DisplayFor(modelItem => item.Producer)
                </div>

                @if (User.Identity.IsAuthenticated)
                {
                    if (role.Equals("user"))
                    {
                        <div class="col-2">@Html.ActionLink("Buy", "Buy", new { id = item.Id }, new { @class = "btn btn-success " })</div>
                    }
                }
                else
                {
                    <div class="col-2">@Html.ActionLink("Buy", "Login", "Account", new { id = item.Id }, new { @class = "btn btn-success " })</div>
                }

                @if (role != null && role.Equals("admin"))
                {
                    <div class="col-2">
                        @Html.ActionLink("Edit", "EditProduct", new { id = item.Id })
                        @Html.ActionLink("Del", "DeleteProduct", new { id = item.Id })
                    </div>
                }

            </div>
            <hr />
        }
    </div>
</div>