@model StoreApp.Models.Account.UserViewModel

@{
    ViewBag.Title = "Account";
}

<h3>Account @Model.UserName</h3>

@if (TempData["Message"] != null)
{
    <div class="alert-danger">@TempData["Message"]</div>
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dd>
            @Html.ActionLink("Edit", "EditUser", new { id = Model.Id }, new { @class = "btn btn-success" })
        </dd>
    </dl>
</div>
