@using StoreApp.Enums;
@model StoreApp.Models.Account.UserViewModel

@{
    ViewBag.Title = "Account";
    string role = Session["Role"] as String;
}

<h3>Account @Model.UserName</h3>

@if (TempData["Message"] != null)
{
    <span class="badge badge-@TempData["StatusMessage"]">@TempData["Message"]</span>
}

<div>
    <hr />
    <dl class="dl-horizontal">
        @if (role.Equals(UserRoles.User.ToString()))
        {
        <dd>
            @Html.ActionLink("Show my orders", "UserOrders", new { id = Model.Id })
        </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dd>
            @Html.ActionLink("Edit", "EditUser", new { id = Model.Id }, new { @class = "btn btn-success" })
        </dd>
    </dl>
</div>
