@model IEnumerable<StoreApp.Models.Producers.ProducerViewModel>

@{
    ViewBag.Title = "Producers";
}

<h3>Producers</h3>

@if (TempData["Message"] != null)
{
    <span class="badge badge-@TempData["StatusMessage"]">@TempData["Message"]</span>
}

<div class="row container">
    @Html.ActionLink("Create producer", "CreateProducer", null, new { @class = "btn btn-success" })

    @using (Html.BeginForm("Upload", "Producers", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="offset-1 row">
            <div class="col-3"> <input type="submit" value="Upload" class="btn btn-outline-info" /> </div>
            <div class="col-3"> <input type="file" name="file" class="btn btn-outline-info btn-sm" /> </div>
        </div>
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProducer", new { id = item.Id }) |
                @Html.ActionLink("Details", "DetailsProducer", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteProducer", new { id = item.Id })
            </td>
        </tr>
    }

</table>
